TravelGoodBPEL/src/TravelGoodWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelGoodWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:ns1="http://j2ee.netbeans.org/wsdl/NiceView/java/NiceView" 
    xmlns:ns0="http://j2ee.netbeans.org/wsdl/LameDuckWS/LameDuckWS/LameDuck" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://types.fastmoney.imm.dtu.dk">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL" 
                    xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL">
            <!-- Import the xsd schema-->
            <xsd:import namespace="http://j2ee.netbeans.org/wsdl/NiceView/java/NiceView" schemaLocation="LameDuckAndNiceView.xsd"/>
            <xsd:complexType name="HotelRequestType">
                <xsd:sequence>
                    <xsd:element name="HotelsList" type="ns1:GetHotelInputType" minOccurs="0" maxOccurs="unbounded"></xsd:element> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FlightRequestType">
                <xsd:sequence>
                    <xsd:element name="FlightsList" type="ns1:getFlightsInputType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GetInputType">
                <xsd:sequence>
                    <xsd:element name="FlightRequests" type="tns:FlightRequestType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    <xsd:element name="HotelRequests" type="tns:HotelRequestType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GetOutputType">
                <xsd:sequence>
                    <xsd:element name="HotelsList" type="ns1:GetHotelsOutputType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    <xsd:element name="FlightsList" type="ns1:getFlightsOutputType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetOutput" type="tns:GetOutputType"></xsd:element>
            <xsd:element name="GetInput" type="tns:GetInputType"></xsd:element>
            <xsd:complexType name="PlanInputType">
                <xsd:sequence>
                    <xsd:element name="HotelsBookingNumber" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                    <xsd:element name="FlightsBookingNumber" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ItineraryListType">
                <xsd:sequence>
                    <xsd:element name="HotelsItineraryInformation" type="tns:ItineraryInformation" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                    <xsd:element name="FlightsItineraryInformation" type="tns:ItineraryInformation" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ItineraryInformation">
                <xsd:sequence>
                    <xsd:element name="BookingNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="Status" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="PlanInput" type="tns:PlanInputType"></xsd:element>
            <xsd:element name="PlanOutput" type="tns:ItineraryListType"></xsd:element>
            <xsd:simpleType name="ItineraryIDType">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="itineraryCreatedType">
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:simpleType name="PlanningCancelledType">
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:complexType name="bookingNumberDateType">
                <xsd:sequence>
                    <xsd:element name="hotelBookingNumberDate" type="tns:hotelBookingNumberDateType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    <xsd:element name="flightBookingNumberDate" type="tns:flightBookingNumberDateType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flightBookingNumberDateType">
                <xsd:sequence>
                    <xsd:element name="bookingNumberFlight" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
                    <xsd:element name="dateFlight" type="xsd:date" minOccurs="1" maxOccurs="1"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelBookingNumberDateType">
                <xsd:sequence>
                    <xsd:element name="bookingNumberHotel" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
                    <xsd:element name="dateHotel" type="xsd:date" minOccurs="1" maxOccurs="1"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="GetFlightsAndHotelsRequest">
        <part name="part1" type="tns:GetInputType"/>
        <part name="part2" type="tns:ItineraryIDType"/>
    </message>
    <message name="GetFlightsAndHotelsResponse">
        <part name="part1" type="tns:GetOutputType"/>
    </message>
    <message name="PlanFlightsAndHotelsRequest">
        <part name="part1" type="tns:PlanInputType"/>
        <part name="part2" type="tns:ItineraryIDType"/>
    </message>
    <message name="PlanFlightsAndHotelsResponse">
        <part name="part1" type="tns:ItineraryListType"/>
    </message>
    <message name="createItineraryRequest"></message>
    <message name="createItineraryResponse">
        <part name="part1" type="tns:ItineraryIDType"/>
    </message>
    <message name="cancelPlanningRequest">
        <part name="part1" type="tns:ItineraryIDType"/>
    </message>
    <message name="cancelPlanningResponse">
        <part name="part1" type="tns:PlanningCancelledType"/>
    </message>
    <message name="BookItineraryRequest">
        <part name="part1" type="tns:ItineraryIDType"/>
        <part name="part2" type="ns1:creditCardInfoType"/>
    </message>
    <message name="BookItineraryResponse">
        <part name="part1" type="tns:ItineraryListType"/>
    </message>
    <message name="cancelItineraryRequest">
        <part name="part1" type="tns:ItineraryIDType"/>
    </message>
    <message name="cancelItineraryResponse">
        <part name="part1" type="tns:ItineraryListType"/>
    </message>
    <message name="getItineraryRequest">
        <part name="part1" type="tns:ItineraryIDType"/>
    </message>
    <message name="getItineraryResponse">
        <part name="part1" type="tns:ItineraryListType"/>
    </message>
    <portType name="TravelGoodWSDLPortType">
        <operation name="GetFlightsAndHotels">
            <input name="input1" message="tns:GetFlightsAndHotelsRequest"/>
            <output name="output1" message="tns:GetFlightsAndHotelsResponse"/>
        </operation>
        <operation name="PlanFlightsAndHotels">
            <input name="input2" message="tns:PlanFlightsAndHotelsRequest"/>
            <output name="output2" message="tns:PlanFlightsAndHotelsResponse"/>
        </operation>
        <operation name="createItinerary">
            <input name="input3" message="tns:createItineraryRequest"/>
            <output name="output3" message="tns:createItineraryResponse"/>
        </operation>
        <operation name="cancelPlanning">
            <input name="input4" message="tns:cancelPlanningRequest"/>
            <output name="output4" message="tns:cancelPlanningResponse"/>
        </operation>
        <operation name="BookItinerary">
            <input name="input5" message="tns:BookItineraryRequest"/>
            <output name="output5" message="tns:BookItineraryResponse"/>
        </operation>
        <operation name="cancelItinerary">
            <input name="input6" message="tns:cancelItineraryRequest"/>
            <output name="output6" message="tns:cancelItineraryResponse"/>
        </operation>
        <operation name="GetItinerary">
            <input name="input7" message="tns:getItineraryRequest"/>
            <output name="output7" message="tns:getItineraryResponse"/>
        </operation>
    </portType>
    <binding name="TravelGoodWSDLPortTypeBinding" type="tns:TravelGoodWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetFlightsAndHotels">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </output>
        </operation>
        <operation name="PlanFlightsAndHotels">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </output>
        </operation>
        <operation name="createItinerary">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </output>
        </operation>
        <operation name="cancelPlanning">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </input>
            <output name="output4">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </output>
        </operation>
        <operation name="BookItinerary">
            <soap:operation/>
            <input name="input5">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </input>
            <output name="output5">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </output>
        </operation>
        <operation name="cancelItinerary">
            <soap:operation/>
            <input name="input6">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </input>
            <output name="output6">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </output>
        </operation>
                <operation name="GetItinerary">
            <soap:operation/>
            <input name="input7">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </input>
            <output name="output7">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TravelGoodBPEL/src/TravelGoodWSDL"/>
            </output>
        </operation>
    </binding>
    <service name="TravelGoodWSDLService">
        <port name="TravelGoodWSDLPortTypeBindingPort" binding="tns:TravelGoodWSDLPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="TravelGoodWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelGoodWSDLPortTypeRole" portType="tns:TravelGoodWSDLPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="ID" type="tns:ItineraryIDType"/>
    <vprop:propertyAlias propertyName="tns:ID" messageType="tns:GetFlightsAndHotelsRequest" part="part2"/>
    <vprop:propertyAlias propertyName="tns:ID" messageType="tns:PlanFlightsAndHotelsRequest" part="part2"/>
    <vprop:propertyAlias propertyName="tns:ID" messageType="tns:cancelPlanningRequest" part="part1"/>
    <vprop:propertyAlias propertyName="tns:ID" messageType="tns:BookItineraryRequest" part="part1"/>
    <vprop:propertyAlias propertyName="tns:ID" messageType="tns:cancelItineraryRequest" part="part1"/>
    <vprop:propertyAlias propertyName="tns:ID" messageType="tns:createItineraryResponse" part="part1"/>
    <vprop:propertyAlias propertyName="tns:ID" messageType="tns:getItineraryRequest" part="part1"/>
</definitions>
