NiceView/src/java/NiceView.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NiceView" targetNamespace="http://j2ee.netbeans.org/wsdl/NiceView/java/NiceView"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/NiceView/java/NiceView" xmlns:ns="http://types.fastmoney.imm.dtu.dk"  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/NiceView/java/NiceView" xmlns:tns="http://j2ee.netbeans.org/wsdl/NiceView/java/NiceView">
            <xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="BankServiceTypes.xsd"/>
            <xsd:complexType name="GetHotelsOutputType">
                <xsd:sequence>
                    <xsd:element name="HotelInformations" type="tns:HotelInformationType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HotelType">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string"></xsd:element>
                    <xsd:element name="Address" type="xsd:string"></xsd:element>
                    <xsd:element name="CreditCardGuarantee" type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HotelInformationType">
                <xsd:sequence>
                    <xsd:element name="Hotel" type="tns:HotelType"></xsd:element>
                    <xsd:element name="BookingNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="Price" type="xsd:int"></xsd:element>
                    <xsd:element name="ReservationService" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GetHotelInputType">
                <xsd:sequence>
                    <xsd:element name="City" type="xsd:string"></xsd:element>
                    <xsd:element name="ArrivalDate" type="xsd:date"></xsd:element>
                    <xsd:element name="DepartureDate" type="xsd:date"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetHotelInput" type="tns:GetHotelInputType"></xsd:element>
            <xsd:element name="GetHotelsOutput" type="tns:GetHotelsOutputType"></xsd:element>
            <xsd:complexType name="BookHotelInputType">
                <xsd:sequence>
                    <xsd:element name="BookingNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="CreditCard" type="ns:creditCardInfoType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="BookHotelInput" type="tns:BookHotelInputType"></xsd:element>
            <xsd:element name="BookHotelOutput" type="xsd:boolean"></xsd:element>
            <xsd:element name="FaultMessage" type="xsd:string"></xsd:element>
            <xsd:element name="CancelHotelInput" type="xsd:string"></xsd:element>
        </xsd:schema>
    </types>
    <message name="getHotelsResponse">
        <part name="hotels" element="tns:GetHotelsOutput"/>
    </message>
    <message name="getHotelsRequest">
        <part name="hotelsRequest" element="tns:GetHotelInput"/>
    </message>
    <message name="bookHotelRequest">
        <part name="bookHotelReqest" element="tns:BookHotelInput"/>
    </message>
    <message name="bookHotelResponse">
        <part name="bookHotelResponse" element="tns:BookHotelOutput"/>
    </message>
    <message name="BookHotelFault">
        <part name="message" element="tns:FaultMessage"/>
    </message>
    <message name="cancelHotelRequest">
        <part name="cancelHotelRequest" element="tns:CancelHotelInput"/>
    </message>
    <message name="cancelHotelResponse"></message>
    <message name="cancelHotelFault">
        <part name="FaultMessage" element="tns:FaultMessage"/>
    </message>
    <portType name="NiceViewPortType">
        <operation name="getHotels">
            <input name="input1" message="tns:getHotelsRequest"/>
            <output name="output1" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="bookHotel">
            <input name="input2" message="tns:bookHotelRequest"/>
            <output name="output2" message="tns:bookHotelResponse"/>
            <fault name="fault1" message="tns:BookHotelFault"/>
        </operation>
        <operation name="cancelHotel">
            <input name="input3" message="tns:cancelHotelRequest"/>
            <output name="output3" message="tns:cancelHotelResponse"/>
            <fault name="fault3" message="tns:cancelHotelFault"/>
        </operation>
    </portType>
    <binding name="NiceViewPortTypeBinding" type="tns:NiceViewPortType">
        <soap12:binding style="document" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
        <operation name="getHotels">
            <soap12:operation/>
            <input name="input1">
                <soap12:body use="literal"/>
            </input>
            <output name="output1">
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="bookHotel">
            <soap12:operation/>
            <input name="input2">
                <soap12:body use="literal"/>
            </input>
            <output name="output2">
                <soap12:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap12:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelHotel">
            <soap12:operation/>
            <input name="input3">
                <soap12:body use="literal"/>
            </input>
            <output name="output3">
                <soap12:body use="literal"/>
            </output>
            <fault name="fault3">
                <soap12:fault name="fault3" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="NiceViewService">
        <port name="NiceViewBindingPort" binding="tns:NiceViewPortTypeBinding">
            <soap12:address location="http://localhost:8080/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="NiceView">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="NiceViewPortTypeRole" portType="tns:NiceViewPortType"/>
    </plnk:partnerLinkType>
</definitions>